html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-size: 1rem;
    color: var(--white);
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Barlow Condensed', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#home__page {
    background-image: url("/starter-code/assets/home/background-home-mobile.jpg");
    height: 100vh;
}
#destination__page {
    background-image: url("/starter-code/assets/destination/background-destination-mobile.jpg");
}
#technology__page {
    background-image: url("/starter-code/assets/technology/background-technology-mobile.jpg");
}
#crew__page {
    background-image: url("/starter-code/assets/crew/background-crew-mobile.jpg");
}

:root {
    --dark: hsl(230, 35%, 7%);
    --light: hsl(237, 8%, 50%);
    --white: hsl(0, 0%, 100%);
    --darkBlue: hsl(233, 26%, 24%);

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
}


.desktop__menu {
    display: none;
}
.mobile__menu img {
    margin-right: 1rem;
}
span {
    margin-right: 0.5rem;
    font-weight: 900;
}

.header__links {
    background-image: linear-gradient(to right, var(--dark), var(--light), var(--darkBlue));
    padding: 0.7rem;
}

.header__links a, .destination__links a{
    position: relative;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.5rem;
}
.header__links2 {
    position:absolute;
    top: 18%;
    width: 80%;
    height: 82%;
    right: 0;
    background-image: linear-gradient(to right, var(--dark), var(--light), var(--darkBlue));
    padding: 2rem;
    z-index: 1;
    /* transform: translateX(-70px);
    transition: transform 4000ms ease-in; */
  }

.header__links2 a {
    position: relative;
    display: flex;
    margin-top: 1.5rem;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
    
}

.header__links a::before, .destination__links a::before {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -20px;
}

.header__links a:hover::before, .destination__links a:hover:before {
    background: var(--white);
}

.header__links a:focus::before, .destination__links a:focus::before {
    background: var(--white);
}
.hide__links {
    display: none;
}
.main {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    
}
.intro {
    margin-top: -1rem;
    text-transform: uppercase;
}

.topic{
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.topic, .destination__topic {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 4rem;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.summary {
    margin-top: -2%;
    padding: 0 1rem 0 1rem;
    font-size: 0.95rem;
}

.explore {
    height: 9.5rem;
    width: 9.5rem;
    line-height: 9.5rem;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 50%;
    color: var(--dark);
    background-color: var(--white);
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

/* DESTINATION__PAGE */
.destination__main {
    padding: 0.5rem;
    text-align: center;
}

.images {
    width: 12rem;
}

.page__title {
    text-transform: uppercase;
}
.line {
    margin-top: 3rem;
    border: 1px solid var(--light);
    background-color: var(--light);
}
.space__info {
    text-transform: uppercase;
}
.numbers {
    margin-top: -1rem;
    font-size: 2rem;
}
.letters {
    font-size: 0.875rem;
}
/* CREW PAGE  */
.crew__main > .page__title {
    margin-left: 2rem;
}
.container {
    width: 100%;
    height: 20rem;
    background-image: url("/starter-code/assets/crew/image-douglas-hurley.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.crew__information {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.role, .name {
    text-transform: uppercase;
}
.name {
    font-size: 1.8rem;
    margin-top: -1rem;
}
.bio {
    margin-top: -1rem;
}
button {
    background-color: var(--dark);
    color: var(--white);
}
.dot:focus, button:focus {
    background-color: var(--white);
    color: black;
}
.dot {
    width: 10px;
    height: 10px;
    
    border-radius: 50%;
    border: 1px solid var(--light);
    margin-right: 0.625rem;
}
.dots {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
/* Technology__PAGE */
.technology__main > .page__title {
    margin-left: 2rem;
}

.technology__image {
    background-image: url("/starter-code/assets/technology/image-launch-vehicle-portrait.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 15rem;
    margin-top: 2rem;
    
    
    
}
.technology__name {
    margin-top: -1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2rem;
}
.term {
    text-transform: uppercase;
}
.page__no {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.no {
    margin-top: 0.5rem;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid var(--light);
    border-radius: 50%;
    text-align: center;
}
.technology__details {
    text-align: center;
}
.topic, .destination__topic, .numbers, .explore, .role, .name, .technology__name {
    font-family: 'Bellefair', serif;
}

@media(min-width:40em) {
    #home__page {
        background-image: url("/starter-code/assets/home/background-home-tablet.jpg");
    }
    #destination__page {
        background-image: url("/starter-code/assets/destination/background-destination-tablet.jpg");
    }
    #technology__page {
        background-image: url("/starter-code/assets/technology/background-technology-tablet.jpg");
    }
    #crew__page {
        background-image: url("/starter-code/assets/crew/background-crew-tablet.jpg");
    }

    .mobile__menu {
        display: none;
    }
    .desktop__menu {
        display: block;
    }
    .main {
        padding-left: 5rem;
        text-align: justify;
    }
    
    .topic, .destination__topic {
        font-size: 5rem;
        margin-top: -5rem;
    }
    .intro, .topic, .summary {
        margin-top: -1rem;
    }
    .summary {
        padding: 0;
        width: 50%;
    }
    .explore {
        margin-left: 5rem;
    }
    /* DESTINATION__PAGE  */
    .page__title {
        padding-left: 2rem;
    }
    .destination__topic {
        margin-top: 0;
    }
    /* CREW__PAGE */
    .flex__item6 {
        order: 1;
    }
    .flex__item5 {
        order: 2;
    }
    .flex__item4 {
        order: 3;
    }
    .bio {
        padding: 0 2rem 0 2rem;
    }
    .dots {
        margin-top: 1rem;
    }
    /* TECHNOLOGY__PAGE */
    .technology__image {
        height: 20rem;
    }
    .technology__name {
        font-size: 3rem;
    }
    .technology__description {
        padding: 0 2rem 0 2rem;
    }
}

@media(min-width:64em) {
    body {
        height: 100vh;;
    }
    #home__page {
        background-image: url("/starter-code/assets/home/background-home-desktop.jpg");
    }
    #destination__page {
        background-image: url("/starter-code/assets/destination/background-destination-desktop.jpg");
    }
    #technology__page {
        background-image: url("/starter-code/assets/technology/background-technology-desktop.jpg");
    }
    #crew__page {
        background-image: url("/starter-code/assets/crew/background-crew-desktop.jpg");
    }

    .header__links {
        width: 60%;
    }
    
    .main {
        width: 100%;
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: justify;
        padding-left: 5rem;
        
    }
    .header__links a, .destination__links a {
        padding: 1rem;
    }
    .intro, .topic, .summary {
        margin-top: 0;
    }
    .summary{
        width: 60%;
        padding: 0;
    }
    .explore {
        margin-top: 25%;
        margin-left: 37%;
    }
    
    /* DESTINATION__PAGE */

    .page__title {
        margin-top: 0%; 
    }
    .pictures {
        margin-left: 10%;
    }
    .destination__main {
        width: 100%;
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .destination__images {
        margin-top: 5rem;
        margin-left: 5rem;
    }
    .destination__informations {
        width: 80%;
    }
    .destination__topic {
        margin-top: 2rem;
    }
    .space__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex__item2 {
        order: 3;
    }
    .numbers {
        margin-top: 0;
    }
    .line {
        margin-top: 1rem;
    }

    /* CREW PAGE */
    .crew__main {
        width: 100%;
        margin-top: 4.5rem;
        
    }
    .container {
        margin-bottom: -2rem;
        
    }
    .crew__members {
        margin-top: 3rem;
        text-align: justify;
    }
    .crew__information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5rem;
        margin-top: 0;
        
    }
    .flex__item4 {
        order: 2;
    }
    .bio {
        padding: 0;
    }
    .dots {
        margin-top: 0;
        justify-content: flex-start;
    }
    /* TECHNOLOGY PAGE */
    .technology__main {
        margin-top: 5%;
        margin-left: 5%;
    }
    .technology__main>.page__title {
        margin-bottom: 4%;
    }
    .technology__information {
        display: flex;
    }
    .page__no {
        display: flex;
        flex-direction: column;
    }
    .no {
        margin-bottom: 3rem;
    }
    .flex__item7 {
        order: 3;
    }
    .technology__details {
        margin-top: -2%;
        margin-left: 5%;
        
        padding: 0 1rem 0 1rem;
        text-align: justify;
    }
    .technology__description {
        width: 65%;
        padding: 0 0 1rem 0;
    }
    .technology__image {
        margin-left: 0%;
        margin-top: -1rem;
    } 
}